.brand-logo {
    font: 500 24px 'Lato' !important;
    display: "flex";
    cursor: "pointer";
    flex-grow: 1; 
}

.speedDial {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
}

.speedDialIcon {
    width: 100%;
    border-radius: 100%;
}

.sx-nav-link {
    text-decoration: none;
    color: black;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

.nav-link:hover {
    border-bottom: 1px solid #0084d6;
}

/* Search, Login and Cart Icon container */
.icon-container {
    display: "flex";
    flex-grow: 1;
    text-align: end;
    margin-right: 1rem;
}


@media screen and (max-width: 600px) {
    .brand-logo {
        text-align: center;
        font-size: 18px !important;
    }
    .nav-link {
        margin-left: 0.5rem;
    }

    /* Icon Container */
    .icon-container {
        margin: 0;
        flex-grow: unset;
    }
    
    .icon-container svg {
        font-size: 1.2rem;
    }
}