.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dashboardContainer {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  padding: 3rem 0;
}

.dashboardContainer > h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 500 28px "Roboto";
  text-align: center;
}

.dashboardSummary {
  margin: 20px 0;
}

.dashboardSummary > div {
  display: flex;
  background-color: white;
  justify-content: center;
}

.dashboardSummary > div > p {
  background-color: rgba(70, 117, 218, 0.932);
  color: white;
  font: 500 18px "Roboto";
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: 0 30px;
}

.dashboardSummaryBox2 > a {
  color: rgb(0, 0, 0);
  font: 500 18px "Roboto";
  text-align: center;
  background-color: rgb(255, 233, 174);
  text-decoration: none;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboardSummaryBox2 > a:first-child {
  background-color: rgb(255, 110, 110);
  color: rgb(255, 255, 255);
}

.dashboardSummaryBox2 > a:last-child {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

.lineChart {
  width: 80%;
  margin: 20px auto;
}

.doughnutChart {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboardContainer {
    border-left: none;
  }

  .dashboardContainer > h1 {
    font-size: 24px;
  }

  .dashboardSummary {
    margin: 10px 0px;
  }

  .dashboardSummary > div > p {
    margin: 0;
    padding: 10px;
  }

  .dashboardSummaryBox2 > a {
    margin: 10px 5px;
    width: 60px;
    height: 60px;
    font-size: 14px;
  }
}
