footer {
  margin-top: 50px;
  padding: 40px 80px;
  background-color: #80828520;
  color: rgba(0, 0, 0, 0.900);
}

footer > div:first-child {
  display: flex;
}
footer > p {
  text-align: center;
  margin-top: 20px;
}

.leftFooter {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 16px;
}
.leftFooter > p {
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.rightFooter {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 16px;
}

.rightFooter > a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(0, 0, 0, 0.900);
  transition: all 0.5s;
  margin: 5px;
}
.rightFooter > a:hover {
  color: #0084d6;
}

@media screen and (max-width: 500px) {
  footer {
    padding: 20px 40px;
  }

  footer > div:first-child {
    flex-direction: column;
  }

  .leftFooter, .rightFooter {
    width: 100%;
    margin-bottom: 20px;
  }
}
