.CarouselImage {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.review-container {
  overflow-x: auto;
}

.review-card {
  min-width: 250px;
  max-width: 300px;
}

.noReviews {
  font: 500 20px "Gill sans";
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 576px) {
  .CarouselImage {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
}
