.banner {
  background-image: url('./../../images/home-banner.jpg');
  background-size: cover;
  background-position: top;
  color: rgb(255, 255, 255);
  min-height: 500px;
}

.menu-icon > svg {
  color: black;
}

.bg-limit {
  height: 400px;
  object-fit: fill;
}

/* Offer Card */
.h-300, .bg-height {
  height: 400px;
}

.bg-blend {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-image1 {
  background-image: url('./../../images/fashion-offer.jpg');
}

.bg-image2 {
  background-image: url('./../../images/electonic-offer.jpg');
}

.bg-image3 {
  background-image: url('./../../images/footwear-offer.jpg');
}

.bg-image1, .bg-image2, .bg-image3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* product styling */
.proudct-card {
  text-decoration: none;
  transition: all 0.5s;
  margin: 2vmax;
  display: flex;
}

/* Special offer */
.bg-special-offer {
  background-image: url('./../../images/special-offer.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
  .banner, .bg-special-offer {
    min-height: unset;
  }
}

@media screen and (max-width: 960px) {
  .bg-height {
    height: 300px;
  }
/* 
  .bg-blend {
    height: inherit;
  } */
}

@media screen and (max-width: 768px) {
  .h-300 {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .bg-limit {
    width: 100vw;
    object-fit: contain;
  }
}